<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eduadmin.wechat.mapper.SignRecordMapper">
    <insert id="insert" parameterType="com.eduadmin.wechat.domain.SignRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sign_record (student_id, class_id, code, method, created_at)
        VALUES (#{studentId}, #{classId}, #{code}, #{method}, NOW())
    </insert>
</mapper>