server:
  port: 8090
spring:
  application:
    name: edu-wechat-api
  datasource:
    url: jdbc:mysql://localhost:3306/edu_admin?useSSL=false&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: mgq@2024
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.eduadmin.wechat.domain